---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Card from '../components/Card.astro'
import Form from '../components/Form.astro'
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro'
import Location from '../components/Location.astro';
import Product from '../components/Product.astro';

---

<Layout>
	<Nav />
	<Hero/>
	<h2>What we offer</h2>
	<div class="card-container">
		<Card />
		<Card />
		<Card />
	</div>
	<h2>Our location</h2>
	<Location/>
	<h2>What We Offer</h2>
	<div class="room-container">
		<Product />
		<Product />
		<Product />
	</div>
	<Form />
	<Footer />

</Layout>

<style>
	.room-container {
		margin: 50px 80px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		
	}

	.card-container {
		padding: 50px;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
</style>
